---
title: GitLab CI/CD Specialist
suppress_header: true
description: "GitLab CI/CD Specialist"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab CI/CD Specialist
    %h2.headline-subtitle
      Validate and showcase your GitLab skills

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab CI/CD Specialist

        %h3 Interested in getting certified?
        %p GitLab offers two class options to prepare for certification, although neither is required in order to take the exam:
        %ol
          %li Instructor-led: Fill out the form below or contact your GitLab sales representative to schedule an instructor-led delivery of GitLab with Git Basics for your team.
          %li Self-service: You can enroll in our <a href="/services/education/gitlab-technical-certification-self-paced/">self-paced option</a> to complete your certification in GitLab Learn.

        %h3 Overview
        %p GitLab CI/CD Specialist is a <a href= '/learn/certifications/public/#technical-certifications-overview'> technical certification</a> offered by <a href= '/services/'>GitLab Professional Services</a> to help the GitLab community and team members validate their ability to apply GitLab concurrent DevOps processes and best practices in their daily work. To earn certification, candidates must first pass a 1-hour written assessment, followed by a 1-hour hands-on lab assessment graded by GitLab Professional Services engineers.

        %h3 Availability
        %p This certification exam is available for anyone to purchase and take, regardless of whether they have participated in instructor-led GitLab training, self-service GitLab training, or neither.

        %h3 Why GitLab CI/CD Specialist certification?

        %h4 For employers
        %p With GitLab CI/CD Specialist certification, team managers now have a way to confirm their team members possess the skills needed to effectively set up and use GitLab concurrent development, including continuous integration, continuous development, and continuous delivery. All team members who achieve the certification will be able to apply CI/CD functionality and best practices to speed up development and release higher quality software.

        %h4 For individuals
        %p Individuals who earn GitLab CI/CD Specialist certification can showcase their ability to effectively set up, configure, and apply GitLab's CI/CD functions to more efficiently develop and release software.

        %h3 Exam objectives
        %p Individuals who earn GitLab CI/CD Specialist certification are able to perform the following tasks.
        %ul
          %li Explain what GitLab CI/CD is and why teams use it
          %li Identify the key components needed for a CI/CD pipeline
          %li Explain GitLabs’s CI/CD functions
          %li Verify a new feature
          %li Scope and persist variables at various levels
          %li Scaffold out the basics of a test, build, review, and deploy pipeline using feature/topic branching as the review mechanism
          %li Apply the GitLab release and deployment workflow
          %li Use artifacts and dependency caching
          %li Build and deploy images to the GitLab registry


= partial "includes/services-contact-form"
